<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="Entities" connectionString="metadata=res://*/Models.BarterModel.csdl|res://*/Models.BarterModel.ssdl|res://*/Models.BarterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\v11.0;attachdbfilename=C:\dev\OpenBarter\OpenBarter\App_Data\aspnet-OpenBarter-20140607100317.mdf;initial catalog=aspnet-OpenBarter-20140607100317;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
</configuration>
